# Maven Packaging Path
aliengame/target/

# Eclipse settings
aliengame/.settings

aliengame/.classpath

aliengame/.project

# Litiengine runtime files
aliengame/crash.txt
aliengame/game.log
aliengame/game.log.*
/target/
